.columns {
    display: flex;
    flex-direction: column;
}

.rows {
    display: flex;
    flex-direction: row;
}

.grow {
    flex-grow: 1;
}

.full-width {
    width: 100vw;
}

.full-height {
    height: 100vh;
}

.full {
    @extend .full-width;
    @extend .full-height;
}

.fixed-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}