:root {
    --colour-grapefruit: #ED556E;
    --colour-grapefruit-dimmed: #DA4453;
    --colour-bittersweet: #FC6E51;
    --colour-bittersweet-dimmed: #E9573F;
    --colour-sunflower: #FFCE54;
    --colour-sunflower-dimmed: #FCBB42;
    --colour-grass: #A0D468;
    --colour-grass-dimed: #8CC152;
    --colour-mint: #48CFAD;
    --colour-mint-dimmed: #37BC9B;
    --colour-aqua: #4FC1E9;
    --colour-aqua-dimmed: #3BAFDA;
    --colour-blue: #5D9CEC;
    --colour-blue-dimmed: #4A89DC;
    --colour-lavender: #AC92EC;
    --colour-lavender-dimmed: #967ADC;
    --colour-pink-rose: #EC87C0;
    --colour-pink-rose-dimmed: #D770AD;
    --colour-light-gray: #F5F7FA;
    --colour-light-gray-dimmed: #E6E9ED;
    --colour-medium-gray: #CCD1D9;
    --colour-medium-gray-dimmed: #AAB2BD;
    --colour-dark-gray: #656D78;
    --colour-dark-gray-dimmed: #434A54;
}

:root {
    --colour-background: #F0F2F5;
    --colour-accent: #fff;
    --colour-text: #aab2bd;
    --colour-title: #434a54;
}