*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    background: var(--colour-background);
    color: var(--color-text);
    font-family: "Source Sans Pro";
}

.card {
    background-color: var(--colour-accent);
    border-radius: 1em;
    text-align: center;
}

.shadowed {
    -webkit-box-shadow: 0px 3px 0px 0px rgba(226, 228, 231, 0.75);
    -moz-box-shadow: 0px 3px 0px 0px rgba(226, 228, 231, 0.75);
    box-shadow: 0px 3px 0px 0px rgba(226, 228, 231, 0.75);
}

.tree-node.dragging {
    opacity: 1!important;
}